.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 218px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }
  #readmr {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 56px;
    background-color: #133e3f;
    cursor: pointer;
    font-size: 22px;
    color: white;
  }
  h1{
    text-size-adjust: 5px;
  }
  /* FOOTER */