/* .parent {
  width: 1170px;
  height: 216px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1px;
  text-align: center;
} */
#header{
 text-align: center;
}

#paragraph{
text-align: center;
 }
.pirmas {
  background-image: url("../img/courses_img/Pirmas.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Antras {
  background-image: url("../img/courses_img/Antras.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Pirmas2 {
  background-image: url("../img/courses_img/antro-1.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Antras2 {
  background-image: url("../img/courses_img/antro-2.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Trecias2 {
  background-image: url("../img/courses_img/antro-3.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
#readmore {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 56px;
  background-color: #133e3f;
  cursor: pointer;
  font-size: 22px;
  color: white;
  display: flex;
}

.images-top{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.images-bottom{
  display: flex;
  justify-content: center;
  gap: 1rem;
}