
#header{
 text-align: center;
}

#paragraph{
text-align: center;
 }
 .container{
  height: 500px;
 }
.pirmas {
  background-image: url("../img/courses_img/Pirmas.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
  border-radius: 5px;
  vertical-align: bottom;
}
.Antras {
  background-image: url("../img/courses_img/Antras.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
  border-radius: 5px;
}
.Pirmas2 {
  background-image: url("../img/courses_img/antro-1.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
  border-radius: 5px;
}
.Antras2 {
  background-image: url("../img/courses_img/antro-2.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
  border-radius: 5px;
}
.Trecias2 {
  background-image: url("../img/courses_img/antro-3.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
  border-radius: 5px;
}
button{
width: 200px;
height: 50px;
border: none;
background-color: #133e3f;
color: white;
}
.button{
  width: 100%;
  justify-content: center;
  display: flex;
}
.images-top{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5px;

}
.images-bottom{
  margin-top: -270px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.text{
  margin-top:  50%;
  margin-left: 20px;
  width: 150px;
}
.Line{
  clip-path: polygon(97% 0, 100% 0, 3% 100%, 0% 100%);
  width: 30px;
  height: 60px;
  background-color: #164745;
  margin-bottom: -65px;
  margin-left: 40%;
}
.rectangles{
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-left: -10px;
}
.dark-blue{
background-color: #133e3f;
height: 70px;
width: 40px;
margin-top: 30px;
}
.blue{
background-color: #4bc5b8;
height: 70px;
width: 40px;
margin-top: 30px;

}
.light-blue{
background-color: #d5eded;
height: 70px;
width: 40px;
margin-top: 30px;
}