body{
  background-image: url(../img/login_img/login_backround.png);
}
form{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
  
  .forum>form>input,textarea{
      width: 450px;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
          
  }
  textarea{
      height: 80px;
      resize: none;
  }
      
  form>h2{
      text-align: center;
      color: white;
  }
  .forum>form>button{
      width: 170px;
      height:50px ;
      background-color: #4bc5b8;
      border:none;
      color: white;
  }
  /* FOOTER */
  footer{
    padding-top: 50px;
    height: 33%;
    width:100% ;
    background-color: #232424;
    margin-top: 14px;
    color: white;
    display: flex;
    justify-content: space-around;
}
.link>A{
    text-decoration: none;
    color: white;
    margin-bottom: 12px;
}
.link{
    display: flex;
    flex-direction: column;
}
.top-courses>p{
    width: 190px;
    line-height: 25px;
}
.subscription-form>form{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.subscription-form>form>button{
    background-color: #4bc5b8 ;
    color: white;
    border: none;
    margin-top:5px ; 
    height: 30px;
    width: 50%;

}
.subscription-form>form>input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.email{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}