.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 218px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  /* FOOTER */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}