.parent {
  width: 1170px;
  height: 216px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  text-align: center;
}
#readmore {
  grid-area: 6/4/7/6;
}
#header {
  grid-area: 1 / 3 / 2/ 7;
}
#paragraph {
  grid-area: 3 / 2 / 1 / 4;
}
.images-top {
  grid-area: 2 / 3 / 2 / 4;
}
.images-bottom {
  grid-area: 3 / 4 / 2 / 6;
}
.pirmas {
  background-image: url("/courses/img/Pirmas.png");
  display: grid;
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Antras {
  background-image: url("/courses/img/Antras.png");
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Pirmas2 {
  background-image: url("/courses/img/antro-1.png");
  display: grid;
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Antras2 {
  background-image: url("/courses/img/antro-2.png");
  display: grid;
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
.Trecias2 {
  background-image: url("/courses/img/antro-3.png");
  display: grid;
  width: 300px;
  height: 200px;
  background-size: 300px, 200px;
  color: white;
}
#readmore {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 56px;
  background-color: #133e3f;
  cursor: pointer;
  font-size: 22px;
  color: white;
}
