.Text {
  text-align: center;
}

.images-top {
  display: flex;
}
.images-bottom {
  display: flex;
}

.pirmas {
  background-image: url("/courses/img/Pirmas.png");
  width: 300px;
  height: 200px;
  position: relative;
  background-size: 300px, 200px;
  color: white;
}
.Antras {
  background-image: url("/courses/img/Antras.png");
  width: 300px;
  height: 200px;
  position: relative;
  background-size: 300px, 200px;
  color: white;
}
.Pirmas2 {
  background-image: url("/courses/img/antro-1.png");
  width: 300px;
  height: 200px;
  position: relative;
  background-size: 300px, 200px;
  color: white;
}
.Antras2 {
  background-image: url("/courses/img/antro-2.png");
  width: 300px;
  height: 200px;
  position: relative;
  background-size: 300px, 200px;
  color: white;
}
.trecias2 {
  background-image: url("/courses/img/antro-3.png");
  width: 300px;
  height: 200px;
  position: relative;
  background-size: 300px, 200px;
  color: white;
}
